# verification
## Definition
An action an [agent](agent) (of a principal) performs to determine the [authenticity](authenticity) of a claim or other digital object using a cryptographic key.  
Source: ToIP glossary, Jan 2024.

In more technical words: the capability to (cryptographically) verify data received from peers (check structure, signatures, dates)

## See also
[verify](verify)
