## verification

<h4>Definition</h4><p>An action an <a href="agent">agent</a> (of a principal) performs to determine the <a href="authenticity">authenticity</a> of a claim or other digital object using a cryptographic key.<br>Source: ToIP glossary, Jan 2024.</p><p>In more technical words: the capability to (cryptographically) verify data received from peers (check structure, signatures, dates)</p><h4>See also</h4><p><a href="verify">verify</a></p>

